// ------------------------------------------------------------------
// Slide
// ------------------------------------------------------------------
// 1. Number ........... Red ribbon with page number
// 2. Content .......... Various content types
// 3. Modifiers......... Slide modifiers
// 4. Elements ......... Content elements
// ------------------------------------------------------------------

.slide {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:106px 100px 0;
	width:$width;
	height:$height;
	background:#FFF;
	font-size:25px;

	// Number

	&::after {
		position:absolute;
		top:0;
		right:100px;
		padding-top:15px;
		width:50px;
		height:100px;
		background:url(../images/ribbon.svg) no-repeat;
		color:#FFF;
		counter-increment:slide;
		content:counter(slide);
		text-align:center;
		}

	// htc-logo

	&::before {
		position:absolute;
		bottom:0;
		right:100px;
		padding-top:15px;
		width:50px;
		height:100px;
		background:url(../images/htc-logo.png) 12px 0px no-repeat;
		color:#FFF;
		content:'';
		text-align:center;
		z-index: 1;
	}

	// Content

	@import
		'content/basic',
		'content/inline',
		'content/quote',
		'content/lists',
		'content/table',
		'content/code',
		'content/footer';

	// Modifiers

	@import
		'modifiers/grid',
		'modifiers/black',
		'modifiers/white';

	// Elements

	@import
		'elements/columns',
		'elements/shout',
		'elements/cover',
		'elements/place';

	}
